@font-face {
  src: url("/fonts/Lato-Regular.woff2") format("woff2");
  font-family: "Lato";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  src: url("/fonts/Onest-Medium.woff2") format("woff2");
  font-family: "Onest";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  src: url("/fonts/Onest-Regular.woff2") format("woff2");
  font-family: "Onest";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  src: url("/fonts/OpenSauceOne-Medium.woff2") format("woff2");
  font-family: "Open Sauce One";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  src: url("/fonts/OpenSauceOne-Regular.woff2") format("woff2");
  font-family: "Open Sauce One";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
