.menu {
  &__list {
    gap: 2.5rem;
  }

  &__item {
    position: relative;

    &-link {
      font-weight: 500;
      font-size: 1.8rem;
      line-height: 133%;
      color: var(--clr-default-100);
    }

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      bottom: -0.4rem;
      width: 0;
      height: 0.2rem;
      background-color: var(--clr-primary-500);
      transform: translateX(-50%);
      transition: width var(--transition);
    }

    @media (hover) {
      &:hover::before {
        width: 100%;
        transition: width var(--transition);
      }
    }

    &.active {
      &::before {
        width: 100%;
        transition: width var(--transition);
      }
    }
  }
}
