.home_info__container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.categories,
.info {
  width: 50%;
}


@media screen and (max-width: 920px) {
  .home_info__container {
    flex-direction: column;
  }
  .home_info__container>.categories {
    padding-bottom: 1rem;
  }

  .home_info__container>.info {
    padding: 1rem 1rem;
    width: 100%;
  }
  .home_info__container>.categories {
    padding: 3rem 1rem 1rem 1rem;
    width: 100%;
  }
}