// ФУНКЦИИ====================================================================
@import "./settings/functions";

// </ФУНКЦИИ>=================================================================

// <Подключаем шрифты>========================================================
@import "./settings/fonts";

// </Подключаем шрифты>=======================================================

// <ОБНУЛЕНИЕ>================================================================
@import "./settings/normalize";

// </ОБНУЛЕНИЕ>===============================================================

// <ПЕРЕМЕННЫЕ>===============================================================
$containerWidth: 120rem;

:root {
  // Base
  --font-family: "Poppins", sans-serif;
  --font-weight: 400;
  --content-width: 117rem;
  --container-offset: 1.5rem;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --transition: 0.3s;

  // Colors
  --clr-default-100: #fff;
  --clr-default-300: #cccccc;
  --clr-default-400: #d8d8d8;
  --clr-default-500: rgba(155, 154, 157, 0.6);
  --clr-default-600: rgba(0, 0, 0, 0.5);
  --clr-default-900: #000000;

  --clr-text-500: #383838;
  --clr-text-600: #333232;

  --clr-primary-400: #bebebe;
  --clr-primary-600: #ed8a19;
  --clr-primary-500: #cb2929;

  --clr-bg-400: #100f1f;
  --clr-bg-500: #201d1d;
}

// </ПЕРЕМЕННЫЕ>==============================================================

// <ОБОЛОЧКИ>================================================================
body {
  font-size: 1.6rem;
  color: var(--clr-default-100);
  background-color: var(--clr-bg-400);

  &.lock {
    overflow: hidden;
    width: 100%;
    height: 100vh;
    -ms-touch-action: none;
    touch-action: none;
    overscroll-behavior: none;

    .wrapper {
      &::before {
        opacity: 1;
        visibility: visible;
        pointer-events: initial;
      }
    }

    .header {
      overflow: initial;
    }
  }
}

main {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 32rem;
  min-height: 100%;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: var(--clr-default-600);
    opacity: 0;
    visibility: hidden;
    transition: opacity var(--transition), visibility var(--transition);
    pointer-events: none;
    backdrop-filter: blur(0.25rem);
  }

  &.no-overflow {
    overflow: initial;
  }
}

// </ОБОЛОЧКИ>===============================================================

// <СТИЛИ>===================================================================
.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: var(--container-offset);
  padding-left: var(--container-offset);
  width: 100%;
  max-width: var(--container-width);
}

// Components - UI
@import "./ui";
@import "./stack";
@import "./components/ui/typography";
@import "./components/ui/logo";
@import "./components/ui/burger";
@import "./components/ui/burger-menu";
@import "./components/ui/menu";
@import "./components/ui/preloader";
@import "./components/ui/horizontal-menu";
@import "./components/ui/horizontal-item";
@import "./components/ui/language";
@import "./components/ui/line-wrapper";
@import "./components/ui/line";
@import "./components/ui/likes-button";
// Components - UI

// Components - Cards
@import "./components/cards/menu-card";
// Components - Cards

// Components - Sections
@import "./components/sections/header";
@import "./components/sections/footer";
// Components - Sections

// Components - Common
// Components - Common

// Components - Pages
@import "./components/pages/home/hero";
@import "./components/pages/home/info";
@import "./components/pages/menu/preview";
@import "./components/pages/menu/catalog";
@import "./components/pages/product/product";
@import "./components/pages/about/static";
// Components - Pages
