.header {
  padding-top: 3rem;
  min-height: 7rem;
  backdrop-filter: blur(0.2rem);

  &__wrapper {
    gap: 2.5rem;
  }

  &__navigation {
    gap: 3rem;
  }

  &__menu {
    @media (max-width: em(992)) {
      display: none;
    }
  }

  @media (max-width: em(992)) {
    padding-top: 2rem;
    backdrop-filter: initial;
  }
}
