.header {
  padding-top: 3rem;
  min-height: 7rem;

  &__wrapper {
    gap: 2.5rem;
  }

  &__navigation {
    gap: 3rem;
    border-radius: 2rem;
    padding: 0.5rem;
    backdrop-filter: blur(0.4rem);

    @media (max-width: em(992)) {
      border-radius: initial;
      padding: initial;
      backdrop-filter: initial;
    }
  }

  &__menu {
    @media (max-width: em(992)) {
      display: none;
    }
  }

  @media (max-width: em(992)) {
    padding-top: 2rem;
  }
}
